@import url("https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,500;1,100;1,300&display=swap");
:root {
	--dark-color: rgb(72, 60, 50);
	--light-color: rgb(240, 230, 140);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Sarabun", sans-serif;
	background-color: var(--dark-color);
	text-align: center;
	color: var(--light-color);
}

.container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 20px;
}

img {
	max-height: 10vh;
}

.flag {
	display: inline-block;
	padding: 20px 0;
}

.country {
	font-size: 2rem;
	opacity: 0;
	transition: all 0.3s ease-in-out;
}

.capital {
	font-size: 1.4rem;
	opacity: 0;
	transition: all 0.3s ease-in-out;
}

.flag:hover ~ .country {
	opacity: 1;
}

.flag:active ~ .capital {
	opacity: 1;
}
